<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>New Adventure</title>
</head>

<body>
    <form action="/places" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="place[title]">
        </div>
        <div>
            <label for="title">Location</label>
            <input type="text" id="location" name="place[location]">
        </div>
        <button>Post Location</button>

        <a href="/newAdventures">All adventures</a>
    </form>

</body>


</html>