<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center"> New Adventure</h1>
    <div class="col-6 offset-3">
        <form action="/places" method="POST" novalidate class="validate-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="place[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">Location</label>
                <input class="form-control" type="text" id="location" name="place[location]" required>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="location" name="place[image]">
            </div> -->
            <div class="mb-3">
                <button class="btn btn-success">Post Location</button>
            </div>
            <a href="/newAdventures">All Adventures</a>
        </form>
    </div>
</div>

